<!DOCTYPE html>
<html lang="en">
<head>
	<title>Folsom 3 Map</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="mapStyle.css"/>
	<script type="text/javascript" src="resources/functions.js"></script>
</head>


<body>

	<header>
		<div class="container">
			<div id="branding">
			</div>
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li class="current"><a href="F3map.html">Folsom Maps</a></li>
					<li><a href="union.html">Union Maps</a></li>
					<li><a href="https://covid19.rpi.edu/">Covid Policies</a></li>
				</ul>
			</nav>

		</div>
	</header>

	<!--
	PHP script
	grabs the reservation id just made
	deletes that entry from the database
	-->

	<p style="padding-top: 50px">Cancelled!<br>
		This is your confirmation that you've canceled your table.<br>
		<!--
			Display cancelled reservation info here (floor, table number, time)
			example:

			Location: Folsom Floor 3
			Table Number: 2
			Time: 10am - 11am
		-->
		If you would like to make another reservation, click Reserve a Table in the nav bar above.
	</p>

	


</body>